page-forum {
/*  .home{
    background-color: #f4f4f4;
  }
  ion-input{
    background-color:  #8B9FB1;
  }
  ion-card{
    background-color: #8B9FB1;
  }*/
ion-input{
//    background-color: #B2BABB ;
}
}
