<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Main Menu</ion-title>

     <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions($event)" ></button><ion-icon name="arrow-dropright"></ion-icon>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h4 *ngIf="filldown" (click)="viewInitial()">Fill forms <ion-icon name="ios-arrow-dropdown" ></ion-icon></h4><h4 *ngIf="fillup" (click)="closeInitial()">Fill forms <ion-icon name="ios-arrow-dropup" ></ion-icon></h4>
      <!-- <button ion-button clear  (click)="onGoToIR()">Initial Referral</button><hr> -->
	    <button ion-button clear (click)="onGoToII()" *ngIf="initial" >Initial Investigation</button><hr>
    <h4 *ngIf="viewdown" (click)="view()">View forms <ion-icon name="ios-arrow-dropdown" ></ion-icon></h4><h4 *ngIf="viewup" (click)="closeview()">View forms <ion-icon name="ios-arrow-dropup" ></ion-icon></h4>

      <button ion-button clear *ngIf="vform && categ" (click)="receivedForms()">Received Forms</button><br>
         <!--<button ion-button clear (click)="onGoToIRView()"> IR View </button><hr> -->
      <button ion-button clear *ngIf="vform" (click)="myForms()">My Forms</button><hr>
        <!-- <button ion-button clear (click)="onGoToMyIR()"> IR Forms </button><hr> -->
    <h4  (click)="onClickNotifications()">Notifications</h4>
</ion-content>
